[submodule "src/dynamixel_motor"]
	path = src/dynamixel_motor
	url = https://github.com/arebgun/dynamixel_motor.git
[submodule "src/control_msgs"]
	path = src/control_msgs
	url = https://github.com/ros-controls/control_msgs.git
[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "src/web_video_server"]
	path = src/web_video_server
	url = https://github.com/RobotWebTools/web_video_server.git
